{% extends "base.html" %}
{% block content %}
<h1>Advisor Availability</h1>
<h2>{{ advisor.user.first_name }} {{ advisor.user.last_name }}</h2>

<div class="mb-3">
    <button class="btn btn-secondary" onclick="location.href='{% url 'searchAdvisor' %}'">Return</button>
</div>

<div class="d-flex justify-content-between mb-3">
    <button class="btn {% if previous_week is None %} btn-secondary {% else %} btn-primary {% endif %}" 
            onclick="location.href='?week={{ previous_week }}'" 
            {% if previous_week is None %}disabled{% endif %}>
        Previous Week
    </button>
    <button class="btn btn-primary" onclick="location.href='?week={{ current_week }}'">Today</button>
    <button class="btn btn-primary" onclick="location.href='?week={{ next_week }}'">Next Week</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Time Slots</th>
            {% for date, day, slots in weekly_availability %}
                <th>{{ day }}<br>{{ date }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for time_slot in time_slots %}
        <tr>
            <td>{{ time_slot }}</td>
            {% for date, day, slots in weekly_availability %}
                <td>
                    {% for slot in slots %}
                        {% if slot.time_range == time_slot %}
                            {% if slot.is_past or slot.is_booked %}
                                <button class="btn btn-secondary" disabled>Unavailable</button>
                            {% else %}
                                <button class="btn btn-primary" 
                                        onclick="location.href='{% url 'bookConsultation' advisor.id time_slot %}?date={{ slot.date }}'">
                                    Book
                                </button>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
