<!DOCTYPE html>
<html>
<head>
    <title>My Events</title>
</head>
<body>
    <h1>My Events</h1>

     {% if errors %}
     <tr>
          <td colspan="4">{{ errors }}</td>
     </tr>
     {% endif %}
     
     {%if events%}
     <table>
          {% comment %} <tr>
               <th>Event Name</th>
               <th>Event Date</th>
               <th>Event Time</th>
               <th>Event Location</th>
               <th>Event Description</th>
               <th>Event Type</th>
               <th>Event Status</th>
               <th>Event Actions</th>
          </tr> {% endcomment %}
            {% for event in events %}
            <tr>
                  {% for field, value in event.items %}
                  <td>{{ value }}</td>
                  {% endfor %}
                  <td>
                         <a href="/schedule/edit/{{ event.id }}">Edit</a>
                         <a href="/schedule/delete/{{ event.id }}">Delete</a>
                  </td>
            </tr>
            {% endfor %}
     </table>
     {%else%}
          <p>No events found</p>
     {%endif%}

</body>
</html>