{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
</style>

<h1>This is advisor</h1>
<h3>Username: {{profile.first_name}}</h3>

<br>

<h2>Consultations</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Client Name</th>
            <th>Scheduled Date</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for consultation in consultations %}
        <tr>
            <td>{{ consultation.consultation_id }}</td>
            <td>{{ consultation.client_id.first_name }} {{ consultation.client_id.last_name }}</td>
            <td>{{ consultation.scheduled_date }}</td>
            <td>{{ consultation.session_notes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<h2>Events</h2>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Time</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.event_start_timestamp }} to {{ event.event_end_timestamp }}</td>
            <td>{{ event.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
